body {
    background-image: url("https://wallpaperscraft.com/image/sunset_pond_trees_landscape_86151_1920x1080.jpg");
}

p {
    font-family: Sans serif;
    font-size: 40px;
    text-align: center;
}